.venv
*.pyc
*.pyo
*__pycache__/*
*.mypy_cache/*
*.pytest_cache/*

dbt_packages/
nfl/transformations/dbt/logs/
nfl/transformations/dbt/target/
nfl/transformations/dbt/.user.yml
.vscode/
.idea/
nfl/logs
